*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --corBackground:  #9b0039;
    --corBackgroundSection:  #e6e6e6;
    --corFontes: white;
}

body{
    background-image: url(/img/telaFundo.jpg);
    background-repeat: repeat;
}

main {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 960px;
     
}

header {    
    background-color:var(--corBackground);
    color: var(--corFontes);
    padding: 10px;
    text-align: center;
    
}


header h1{
    font-size: 60px;
}

nav {
    margin-top: 10px;
    margin-bottom: 10px;
}

nav a {
    color:var(--corFontes);
    text-decoration: none;
    padding: 10px;
    margin: 0px 10px;
}

nav a:hover {
    background-color: var(--corFontes);
    border-radius: 10px;
    font-weight: bolder;
    color:var(--corBackground);
}

section{
    display: flex;
    flex-direction:column; 
    /* flex-wrap: wrap; */
    padding: 20px;
    background-color:var(--corBackgroundSection);
}


h2 {
    color: var(--corBackground);
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

ul {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    max-width: 250px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    
}

li img {
    width: 300px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    font-size: 14px;
    margin-bottom: 10px;
}

.price {
    font-size: 20px;
    color:var(--corBackground);
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilos para a classe personalizada dos botões de "Adicionar ao Carrinho" */
.custom-btn-carrinho {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
.custom-btn-carrinho i {
    margin-right: 5px;
  }
  
  /* Estilos de hover para a classe personalizada */
.custom-btn-carrinho:hover {
    background-color: darkred;
}

.quantity{
    margin: 0px 10px;
}

.item-quantity {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
.item-quantity p {
    margin-right: 10px;
    
}
  
.custom-btn-quantity {
    /* Estilos dos botões de quantidade (exemplo) */
    background-color: #ccc;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 8px;
    font-size: 16px;
  }
#carrinho-container{
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}


/* Estilizando o botão "Ir para carrinho" */
button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #ff6347;
}

/* Estilizando o total do pedido */
div.total {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

/* Estilizando o container do carrinho */
#carrinho-container {
text-align: center;
margin-top: 20px;
}
  


footer {
    background-color:var(--corBackground);
    color:var(--corFontes);
    padding: 20px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

footer div{
    margin: 0 20px;
    text-align: center;
}

footer img{
    height: 30px ;
    margin: 10px;
}
